/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  /* Remover estilos padrão */
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  cursor: pointer;
}

main {
  display: flex;
  padding-top: 5rem;
  justify-content: space-around;
}

h1 {
  font-family: 'Press Start 2P';
  margin: 0 auto;
}

section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  background-color: #5300c8;
}

.cardContainer {
  box-shadow: -10px 10px 5px #c2c2c2c2;
  width: 700px;
  max-height: 750px;
  display: flex;
  gap: 15px;
  overflow: scroll;
  flex-wrap: wrap;
  padding: 20px;
  margin-bottom: 2rem;
}

.cardContainer::-webkit-scrollbar {
  width: 12px;
}

.cardContainer::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: padding-box;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #5300c8;
  padding: 10px;
  gap: 5px;
  border: 5px solid;
  border-radius: 5px;

  font-weight: 400;
  line-height: 19.5px;
  text-align: left;
}

.card h2 {
  font-family: 'IBM Plex Mono';
  font-size: 15px;
  color: white;
}

.card p {
  font-family: IBM Plex Mono;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.8px;
  text-align: left;
  color: white;
}

.productImg {
  border: 5px solid;
  border-radius: 5px;
  overflow: hidden;
}

.productImg img {
  scale: 1.1;
  width: 176px;
  height: 174px;
}

.cardInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  gap: 5px;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  width: 400px;
  color: #5300c8;
  border: 5px solid #5300c8;
  padding: 15px;
  border-radius: 60px;

  font-family: 'IBM Plex Mono';
  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
  text-align: left;
}

.buttonsForm {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.buttonGuardar {
  width: 188px;
  height: 55px;
  background-color: #5300c8;
  color: white;
  border-radius: 10px;
}

.buttonLimpar {
  width: 188px;
  height: 55px;
  border: 3px solid #5300c8;
  color: #5300c8;
  border-radius: 10px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.5rem 0;
  background-color: #5300c8;

  font-family: IBM Plex Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: white;
}
